In [1]:
#LatihanList
A = ["ayu","dinda","mayla"]
print(type(A))

<class 'list'>

In [7]:
#LatihanSifatList

#Terurut/ordered
print("memanggil list A dengan indeks berurutan:", A[0:0])
print("memanggil list A dengan indeks berurutan:", A[0:1])
print("memanggil list A dengan indeks berurutan:", A[0:2])
print("memanggil list A dengan indeks berurutan:", A[0:3])

memanggil list A dengan indeks berurutan: []
memanggil list A dengan indeks berurutan: ['ayu']
memanggil list A dengan indeks berurutan: ['ayu', 'dinda']
memanggil list A dengan indeks berurutan: ['ayu', 'dinda', 'mayla']

In [12]:
#bisa diganti/mutable
A[1] = 3
A[0] = 2
A[2] = 4
print("list A setelah diganti elemennya:", A)

list A setelah diganti elemennya: [2, 3, 4]

In [14]:
#Dapat diindeks/slicing
print("slicing list A:", A[0])
print("slicing list A:", A[1])
print("slicing list A:", A[2])

slicing list A: 2
slicing list A: 3
slicing list A: 4

In [16]:
#Dapat diijinkan duplikasi
A = ["ayu","dinda","mayla", 2+3j]
print("duplikasi pada A:", A)

duplikasi pada A: ['ayu', 'dinda', 'mayla', (2+3j)]

In [17]:
#Dapat mengubah data dengan mengganti elemen tertentu
A = ["ayu","dinda","mayla", 2+3j]
A[3] = "sayang"
print("data setelah diubah:", A)

data setelah diubah: ['ayu', 'dinda', 'mayla', 'sayang']

In [18]:
#Dapat menambahkan elemen baru pada data
A = ["ayu","dinda","mayla", 2+3j]
A.append(10)
print("data setelah ditambahkan elemennya",A)

data setelah ditambahkan elemennya ['ayu', 'dinda', 'mayla', (2+3j), 10]

In [19]:
#Dapat menghapus elemen pada data(remove[]= menghapus berdasarkan nama objek)
A = ["ayu","dinda","mayla", 2+3j]
A.remove(2+3j)
print("data setelah dihapus elemennya:",A)

data setelah dihapus elemennya: ['ayu', 'dinda', 'mayla']

In [24]:
#Menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individu)
A = ["ayu","dinda","mayla", 2+3j]
A.extend("CINTA")
A.extend(["CINTA"])
print(A)

['ayu', 'dinda', 'mayla', (2+3j), 'C', 'I', 'N', 'T', 'A', 'CINTA']

In [26]:
#Menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
A = ["ayu","dinda","mayla", 2+3j]
A.insert(1,"zellya")
print(A)

['ayu', 'zellya', 'dinda', 'mayla', (2+3j)]

In [27]:
#Menghapus elemen dari list menggunakan fungsi pop()(menghapus berdasarkan indeks)
A = ["ayu","dinda","mayla", 2+3j]
A.pop(1)
print(A)

['ayu', 'mayla', (2+3j)]