In [ ]:
#contoh tuple
T1=(1,'dua', True, 1+2j)
print('ini adalah data tuple', T1)

ini adalah data tuple (1, 'dua', True, (1+2j))

In [ ]:
T11=1,'dua', True, 1+2j
print('ini adalah tuple',T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#menampilkan tipe struktur data
type(T1)

tuple

In [ ]:
type(T11)

In [ ]:
#terurut/ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#tidak bisa diganti/immutable
T1[2]=manusia

NameError: ignored

In [ ]:
#dapat diindeks/slicing
print('elemen kedua dari tuple T1 adalah: ',T1[1])

In [ ]:
#dapat diijinkan duplikasi
T2=(3,2.4,True, 2.4)
T2

(3, 2.4, True, 2.4)

In [ ]:
#tidak dapat menambahkan elemen baru
T1=(1,'dua', True, 1+2j)
print(f' tupple\t: {T1}')

 tupple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.append(10)
T1.append(50)
print(f' tupple\t: {T1}')

AttributeError: ignored

In [ ]:
#menggabungkan tuple
T3=T1+T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

In [ ]:
#membuat contoh tuple baru
A=('matematika','UAD',True, False, 2+2j, 1,9,4,5)
print('Ini adalah tuple', A)

Ini adalah tuple ('matematika', 'UAD', True, False, (2+2j), 1, 9, 4, 5)

In [ ]:
B=('struktur','data tuple', False, True)
print('Ini adalah tuple', B)

Ini adalah tuple ('struktur', 'data tuple', False, True)

In [ ]:

C= A + B
C

('matematika',
 'UAD',
 True,
 False,
 (2+2j),
 1,
 9,
 4,
 5,
 'struktur',
 'data tuple',
 False,
 True)